@model IEnumerable<Rotten_tomatoes.Models.Pelicula>

@{
    ViewData["Title"] = "Index";
}

<h1>Peliculas</h1>

<p>
    <a asp-action="Create">Agregar Pelicula</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calificacion_critica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calificacion_audiencia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion_critica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion_audiencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sinopsis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Premier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
